<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.shinetechchina.coffee.nfc" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CoffeeNFC</name><js-module name="CoffeeNFC" src="www/CoffeeNFC.js"><clobbers target="cordova.plugins.CoffeeNFC" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="CoffeeNFC"><param name="android-package" value="com.shinetechchina.coffee.nfc.CoffeeNFC" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/CoffeeNFC.java" target-dir="src/com/shinetechchina/coffee/nfc/CoffeeNFC" /></platform></plugin>